/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

 .sidebar-ad {
  background-color: #fff;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
 }

.border-right {
  float: left;
  background: url(gradientLine.png) no-repeat right !important;
}


@font-face {
  font: {
    family: 'ClarendonLT';
    weight: 'normal'; 
    style: 'normal';
  }  
  src: asset_url('ClarendonLTStd.otf', font);
  src: asset_url('clarendonltstd.ttf', font) format('truetype'),
       asset_url('ClarendonLTStd.woff', font) format('woff')
}


@font-face {
  font: {
    family: 'ClarendonLTlight';
    weight: 'lighter'; 
  }  
  src: asset_url('ClarendonLTStd-Light.otf', font);
  src: asset_url('clarendonltstdlight.ttf', font) format('truetype'),
       asset_url('ClarendonLTStd-Light.woff', font) format('woff')
}

@font-face {
  font: {
    family: 'ClarendonLTbold';
    weight: 'bold'; 
  }  
  src: asset_url('ClarendonLTStd-Bold.otf', font);
  src: asset_url('clarendonltstdbold.ttf', font) format('truetype'),
       asset_url('ClarendonLTStd-Bold.woff', font) format('woff')
}


.sansFont {
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
}


.bold {
  font-family: ClarendonLTbold;
}

.hel-bold {
  font-weight:bold;
}

.light {
  font-family: ClarendonLTlight;
}

.center {
  text-align: center;
}

p.tight {
  line-height: 16px;
}

.logo {
  background-color: yellow;
  display:block;
  margin-right: 88%;
  margin-bottom: 4%;
}

.venue {
  font-size: 125%
}

.ad-list {
  color: rgb(51, 51, 51);
  display: block;  
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
  font-size: 14px;
  line-height: 20px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0px;
}

#header {
  
}

#general-search-container {
  width:100%;
  height:35px;
  padding: 10px;
  alignment: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #292929
}

#general-search-container-contents {
  
}

#general-search-container-contents label {
  font-size: 108%;
}

form input[type=submit] {
  width: auto;
  height: 30px;
  font-family: ClarendonLTlight;
  font-size: 150%;
  position: relative;
  cursor: pointer;
  padding-bottom: 0px;
  color: #EBEBEB;
  background: #383838;
  border: 0px;
  margin-top: -9px;

}

#general-search-container-contents form input[type=text] {
  width: 75%;
  height: 60%;
  color: #666;
  margin-left: 50px;
  margin-right: auto;
}

.iframe-container {
  width: 728px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: yellow;
}

.push-down {
  margin-bottom: 20px;
}

.weather {
}

.locality {
  
}

.locality form input[type=text] {
  width: 80%;
  height: 60%;
  color: #666;
  margin-right: 0;
}



input::-webkit-input-placeholder, textarea::webkit-input-placeholder { /* WebKit browsers */
    color:    green;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    green;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

.zip {
  font-size: 50%;
}

.color {
  color: green;
}

.today {
  
}

.section {
  margin-bottom: 20px;
  float: left;
}

.chances {
  font-family: ClarendonLTlight;
  font-size: 1.7em;
  line-height: 120%;
}

.chance {
  font-family: ClarendonLT;
  font-size: 120%;
}

.tuck {
  margin-bottom: -60px;
}

.tuck-small {
  margin-bottom: -20px;
}

.current {
  
}

.temperature {
  font-family: ClarendonLT;
  font-size: 150%
}

.data {
  float: left;
  font-size: 0.9em;
  line-height: 110%;
  overflow: hidden;
}

.large {
  font-size: 9.5em;
  margin-top: 85px;
}

.feels {
  font-size: 2.3em;
  margin-top: 45px;
  font-family: ClarendonLTlight;
}

.second {
  margin-top: 5px;
}

.offseted {
  text-align: right;
  padding-right: 76px;
  margin-top: 28px;
  line-height: 110%;
  font-size: 1.5em;
  font-family: ClarendonLTlight
}

.offset-medium {
  text-align: right;
  margin-top: 28px;
  line-height: 120%;
  font-size: 1.5em;
  font-family: ClarendonLTlight
}

.offset-small {
  text-align: right;
  margin-top: 28px;
  line-height: 120%;
  font-size: 1.0em;
  font-family: ClarendonLTlight
}

.tomorrow {
  float: left;
}

.tomorrow-weather {
  font-size: 1.3em;  
}

.DOW {
  font-family: ClarendonLTlight;
  font-size: 2.9em;
  margin-top: 20px;
  margin-bottom: 26px;
}

.DOW-outlook {
  font-family: ClarendonLTlight;
  font-size: 2.1em;
}

.end-cap {
  width: 320px;
  height: 240px;
  background-color: yellow;
  position: relative;
}

.no-resize {
  min-height: 240px;
  min-width: 320px;
}

.relate {
  position: relative;
}

.outlook {
  font-family: ClarendonLTlight;
}

.outlook-weather {
  font-family: ClarendonLTlight;
  font-size: 0.9em;
  line-height: 100%;
}


footer.fcontainer {
  width: 100%;
  height: 18px;
  background-color: #B3B3B3;
  padding: 10px;
  border-top-width: 1px;
  border-top-color: #969696;
}

footer.p {
  margin: 0;
}

.i {
  border:1px solid red;

}